*{
  margin: 0;
  padding: 0;

}


.container {
  background-color: black;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
}


.container .navbar{
  width: 100%;
  height: 80px;
  background: rgb(black);
}

.navbar .logo{
 display: inline-block;
 position: absolute;
  margin-left: -20px;
  margin-top: -39px;
  
}

.navbar ul{
float: right;
margin-right: 50px;
}

.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 8px;
   line-height: 80px;
}

.navbar ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 13px;

}

.navbar ul li a.active,
.navbar ul li a:hover{
  background: gray;
  border-radius: 100px;
}


.body{

background: url(wp9116463-4k-black-space-wallpapers.jpg);
height: 100vh;
background-size: 100% 100%;
background-repeat: space;
}

.navbar {
  background: none;
}

.jupiteraciklama1 {
  background: none;
  color: white;
 padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: center;
}

.jupiterbaslik{
background: none;
color: yellowgreen;
font-family: Arial, Helvetica, sans-serif;
position: center;
padding-top: 150px;
font-size: 30px;


}


.jupiterimg{
background-image: url(wp9116463-4k-black-space-wallpapers.jpg);
background-position: 100% 100%;
background-size: 100vh;
margin-top: 20px;



}

.jupiteraciklama2{
  background: black;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: center;
  padding-top: 20px;
padding-bottom: 20px;

}

.topluimg{
background-image: url(solar-system-planets-sun-orange-stars-burning-earth-mars-3840x2400-2466.jpg);
height: 100vh;
background-size: 100% 100%;
position: center;


}

.jupiteraciklama3{
  background: black;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: center;
  padding-top: 10px;
padding-bottom: 30px;
}
